

.carousel
{
    margin-top: 70px;
    margin-right: 50px;
    height: 450px;
    width: 100%;
    overflow: hidden;
    margin-right: 100px;
    border-radius: 4px;
}

.carousel-item {
    padding: 0 40px; 
  }
  

.carousel-inner .carousel-item img
{
    height: 400px;
    margin-right: 50px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.carousel-inner .carousel-item img:hover{
    border: 3px solid gray;
}

.carousel-caption h2
{
    color: #E50914;
    font-weight: bold;
    font-size: 30px;
}

.carousel-caption p 
{
    color: #ffffff;
}

.rowposter{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rowimg
{

    object-fit: contain;
    width: 100%;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 30px;
    border-radius: 5px;
}

.rowimg:hover
{
    transform: scale(1.09);
    cursor: pointer;
    border: 2px solid gray; 
}

.largeposter{
    max-width: 300px;
}

.rowposter::-webkit-scrollbar
{
    display: none;
}